@charset "utf-8";
/* CSS Document */

body{
    text-align:center;
    background-color:silver;
}

table{
    text-align:center;
    margin: 0 auto;
}

td{
    padding: 0px 0px 0px 0px;
}

.rightAlign{
    text-align: right;
}

.leftAlign{
    text-align: left;
}

.prodName {
    text-transform: capitalize;
}

#top-nav-bg{
    display:none;
}

#oculto{
    display:none;
}

#totalReceipt{
    font-weight: bold;
}