html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }

body { box-sizing: border-box; height: 40in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }

h3 {
	text-align : center;
}

.table_header{
	width : 100%;
}

#contract_id{
	text-align : right;
	font-weight : bold;	
}

span{
	color : red;
}

@media print {
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
}



